.banner {
  display: block;
  padding: 5px;
  margin: 0;
  width: 100vw;
  height: 70vh;
  position: relative;
}
.bannerText {
  position: absolute;
  padding: 1em;
  border-radius: 0.5em;
  bottom: 1em;
  right: 1em;

  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.bannerTitle {
  font-size: 1.75em;
}
.bannerLink {
  font-size: 1.25em;
  text-align: right;
}

.bannerLink:hover {
  color: blue;
}
